<div class="min-h-screen flex items-center justify-center bg-gray-50 py-6 px-4 sm:px-6 lg:px-8">

  <div class="max-w-md w-full space-y-8">
    <div>
      <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg"
        alt="Workflow">
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Register to Private Events
      </h2>
      <p class="mt-2 text-center text-sm text-gray-600">
        You will be able
        <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">
          to attend and create
        </a>
        unique events
      </p>
    </div>

    <% if @user.errors.any? %>
    <div class="bg-yellow-200 p-5 text-gray-500">
      <span class="closebtn font-extrabold text-3xl" onclick="this.parentElement.style.display='none';">&times;</span>
      <p class="text-red-500">The following errors prevented the article from being saved</p>
      <ul class="ml-8">
        <% @user.errors.full_messages.each do |msg| %>
        <li class="list-disc"><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <%= form_with scope: :user, url: users_path, local: true do |f| %>

    <div class="rounded-md shadow-sm -space-y-px">
      <div>
        <%= f.label :username, class: "sr-only" %><br>
        <%= f.text_field :username, class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm", placeholder: "Create a new username" %>
      </div>
    </div>

    <button type="submit"
      class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-b-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
      <span class="absolute left-0 inset-y-0 flex items-center pl-3">
        <!-- Heroicon name: lock-closed -->
        <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd"
            d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
            clip-rule="evenodd" />
        </svg>
      </span>
      Sign Up
    </button>

    <% end %>
    <button type="submit"
      class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-red-500 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">

      <%= link_to 'Cancel and return to event listing', events_path %>
    </button>
  </div>
</div>