<div class="container-sm mx-auto">
<button class="bg-green-500 ...">Button</button>
</div>

<h1>Event listing</h1>

<table>
    <thead>
        <tr>
            <th>Host</th>
            <th>Event</th>
            <th>Date</th>
            <th>Location</th>
            <th>Actions</th>
        </tr>
    </thead>


<tbody>
<% @events.each do |event| %>
    <tr>
        <td><%= event.user.username %></td>
        <td><%= event.title %></td>
        <td><%= event.date %></td>
        <td><%= event.location %></td>
        <td>
        <%= link_to 'Delete', event_path(event), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
    </tr>
<% end %>
</tbody>
</table>
<p>
<%= link_to 'Create a new Event', new_event_path %>
</p>

