<div class="text-center mx-auto">
    <p class="text-lg text-gray-600 font-bold mt-5">Host</p>
    <p class="text-lg text-gray-800"><%= @event.user.username.upcase %></p>
    <p class="text-lg text-gray-600 font-bold mt-5">Description</p>
    <p class="text-lg text-gray-800"><%= @event.title %></p>
    <p class="text-lg text-gray-600 font-bold mt-5">Location</p>
    <p class="text-lg text-gray-800"><%= @event.location %></p>
    <p class="text-lg text-gray-600 font-bold mt-5">Date</p>
    <p class="text-lg text-gray-800"><%= @event.date %></p>

    <p class="text-lg text-green-600 font-bold mt-5">The following members will attend</p>
    <p class="text-lg text-gray-800"><%= @attendee.user %></p>

    <%= render 'attendEvent' %>

</div>